@using MoyaPrelest.Models
@model DogeModel

<form method="post">
    <h2>Уверены, что хотите удалить запись о данной собаке?</h2>
    <button type="submit" value="True" name="isAgreed">Удалить</button>
    <button type="reset"  onclick="window.location.href='/'">Отмена</button>
</form>
